
.container{
  background-image: url(../../assets/djamia-frontal-wiev.jpg);
  /* min-height: max-content; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} 

.banner {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(236, 175, 54);
  height: 100vh;
  justify-content: center;
  gap: 4em;
  text-align: center;
}

.banner h1{
  font-size: 48px;
}

.banner p{
  font-size: 15px;
}

.banner h1,
.banner p {
  color: #fff;
  text-shadow: 7px 4px 11px rgb(236, 175, 54);
}

.banner a {
  padding: 0.5em;
  border-radius: 20px;
  color: rgb(236, 175, 54);
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 18px 21px 45px 1px rgb(236, 175, 54);
  text-transform: uppercase;
  font-weight: bolder;
}

.quote {
  padding: 2em 1.2em;
  background: rgb(247, 216, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.quote svg {
  fill: #fff;
  width: 200px;
  filter: drop-shadow(40px -40px 3px rgb(255 255 255 / 0.4));
}

.quote p {
  width: 700px;
  color: #000;
  text-align: center;
  line-height: 2.4em;
}

.quote p span {
  font-weight: bold;
}

.quote span:last-child {
  font-style: italic;
}


.cardList {
  padding: 2em;
  background: rgb(255, 239, 206);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
}

.card {
  flex: 0 1 30%;
  border-radius: 12px;
}

.card img {
  display: block;
  box-shadow: 18px 21px 45px 1px rgb(236, 175, 54);
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.cardContent {
  padding-top: 5em;
  line-height: 2em;
  /* text-align: center; */
}

.cardContent ul {
  padding-left: 5em;
}

.cardContent>h4 {
  text-align: center;
  font-family: "Kanit";
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 2em;
}

.cardContent span {
  text-align: center;
  font-family: "Kanit";
  font-size: 28px;
  font-weight: 500;
  color: rgb(236, 175, 54);
}

.cardContent a {
  display: inline-block;
  margin: 3em 6em;
  padding: 15px;
  background: rgb(236, 175, 54);
  color: #FFF;
  border-radius: 15px;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5);
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

