.container {
  background-image: url(../../assets/djamia-frontal-wiev.jpg);
  /* min-height: max-content; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* Needed for the pseudo-element to be positioned correctly */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Adjust the alpha value (0.4) for the desired darkness */
}

.banner {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(236, 175, 54);
  height: 100vh;
  justify-content: center;
  gap: 4em;
  text-align: center;
  position: relative;
  /* Ensure content stays above the pseudo-element */
  z-index: 1;
  /* Ensure content stays above the pseudo-element */
}

.banner h1 {
  font-size: 48px;
}

.banner p {
  font-size: 24px;
}

.banner h1,
.banner p {
  color: #fff;
  text-shadow: 7px 4px 11px rgb(236, 175, 54);
}

.banner a {
  padding: 0.5em;
  border-radius: 20px;
  color: #ecaf36;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  /* box-shadow: 18px 21px 45px 1px rgb(236, 175, 54); */
  text-transform: uppercase;
  font-weight: bolder;
}

.banner a:hover {
  background: #ecaf36;
  color: #000;
  text-decoration: none;
}

.quote {
  padding: 2em 1.2em;
  background: rgb(247, 216, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  position: relative;
  /* Ensure content stays above the pseudo-element if it overlaps */
  z-index: 1;
  /* Ensure content stays above the pseudo-element if it overlaps */
}

.quote svg {
  fill: #fff;
  width: 200px;
  filter: drop-shadow(40px -40px 3px rgb(255 255 255 / 0.4));
}

.quote p {
  width: 700px;
  color: #000;
  text-align: center;
  line-height: 2.4em;
}

.quote p span {
  font-weight: bold;
}

.quote span:last-child {
  font-style: italic;
}

/* Cards */
.moreInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  background: rgb(255, 239, 206);
  padding: 2rem;
  position: relative;
  /* Ensure content stays above the pseudo-element if it overlaps */
  z-index: 1;
  /* Ensure content stays above the pseudo-element if it overlaps */
}

.cardList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  width: 100%;
  gap: 4rem;
}

.card {
  height: 700px;
  width: auto;
  justify-content: start;
  align-items: start;
}

.card img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 18px 21px 45px 1px rgb(236, 175, 54);
  object-fit: cover;
}

.cardContent {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardContent ul {
  line-height: 2rem;
}

.cardContent>h4 {
  font-size: 2rem;
  font-weight: 700;
}

.cardContent span {
  color: rgb(236, 175, 54);
}

.cardContent a {
  padding: 15px 50px;
  background: rgb(236, 175, 54);
  color: #FFF;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 10px 10px 12px 0 rgb(179, 136, 50);
  transition: transform 0.3s ease-in-out;
}

.cardContent a:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .moreInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: rgb(255, 239, 206);
    padding: 2rem;
  }

  .cardList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  .card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  .cardContent {
    height: max-content;
  }

  .cardContent ul {
    display: none;
    line-height: 1.5rem;
    font-size: 0.8rem;
    background: #000;
  }

  .cardContent a {
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .container {
    background-size: cover;
    background-position: 65%;
  }

  .banner h1 {
    font-size: 48px;
  }
  
  .banner p {
    font-size: 18px;
    padding: 0 10px;
  }

  .moreInfo {
    padding-bottom: 4rem;
  }

  .cardList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    width: 100%;
    row-gap: 5rem;
  }

  .card a {
    width: 70%;
    text-align: center;
  }
}