.site-wrapper {
    background-image: url(/img/kadi-seyfullah.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.card-list {
    border: 2px solid red;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid blue;
    background: white;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.card .media {
    /* background: #000; */
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pic-1{
    background-image: url(./img/archi_elements.jpg);
}
.pic-2 {
    background-image: url(./img/mosque_in_islam.jpg);
}
.pic-3 {
    background-image: url(./img/history_of_mosque.jpg);
}
.pic-4 {
    background-image: url(./img/islam_shortly.jpg);
}
.pic-5 {
    background-image: url(./img/galery.jpg);
}
.pic-6 {
    background-image: url(./img/panorama.jpg);
}

