.container{
    background-image: url('../../assets/nature-forest-trees-3151869-1024x682.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}